body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-image: url(../img/background.jpeg);
  margin: 0;
  padding: 0;
}

form {
  background-color: rgba(255, 255, 255, 0.093);
  padding: 4%;
  border-radius: 2%;
  box-shadow: 0 0 1% #eee022;
  width: 30%;
  justify-content: center;
}

label {
  margin-bottom: 1%;
  color: #ffee00;
}

input {
  width: 100%;
  padding: 1%;
  margin-bottom: 2%;
  box-sizing: border-box;
}

button {
  color: black;
  padding: 2% 3%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(194, 189, 189);
}

.btn{
  display: flex;
  justify-content: center;
}
  
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.containerImage{
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  justify-content: left;
  flex-wrap: wrap;
}

#LabelFotoPerfil{
  color: #ffee00;
  margin-left: 3%;
}

.containerExclusao{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.containerExcluirPerfil{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vh;
}

#AtentionRed{
  color: rgb(255, 0, 0);
}

#YellowExclusao{
  color: rgb(238, 255, 0);
}

#YesButtom{
  background-color: #fff;
  color: #000000;
}

.buttonExclusao{
  border-radius: 15%;
}